<div class="container py-5" style="max-width: 500px;">
  <h2 class="mb-4 text-center" style="color: #DA1E48;">Reset Password</h2>

  <form id="resetPassForm">
    <p>
      Silakan masukkan password baru.
    </p>
    <div class="mb-3">
      <label for="newPassword">Password baru:</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Minimal 6 karakter" autofocus />
    </div>
    <div id="newPasswordAlertContainer" class=""></div>
    <div class="mb-3">
      <label for="confirmNewPassword">Konfirmasi password:</label>
      <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" autofocus />
    </div>
    <div id="confirmNewPasswordAlertContainer" class=""></div>

    <button type="submit" id="sendEmailBtn" class="btn w-100 text-white" style="background-color: #DA1E48;">Reset Password</button>

    <p class="mt-3 text-center">
      <a href="/auth/login" class="text-decoration-none">Kembali ke login.</a>
    </p>
  </form>
  <div id="resetPasswordAlertContainer"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    console.log('DOM Loaded');
    const token = '{{{token}}}';

    const resetPassForm = document.getElementById('resetPassForm');
    const newPasswordInput = document.getElementById('newPassword');
    const newPasswordAlertDiv = document.getElementById('newPasswordAlertContainer');
    const confirmNewPasswordInput = document.getElementById('confirmNewPassword');
    const confirmNewPassAlertDiv = document.getElementById('confirmNewPasswordAlertContainer');
    const resetPasswordAlertContainer = document.getElementById('resetPasswordAlertContainer');

    newPasswordInput.onkeyup = () => {
      if (newPasswordInput.value.length < 6) {
        newPasswordAlertDiv.classList.add('alert');
        newPasswordAlertDiv.classList.add('alert-danger');
        newPasswordAlertDiv.classList.add('mt-3');
        newPasswordAlertDiv.innerHTML = `
          <strong>Panjang password minimal 6 karakter</strong>
        `;
      } else {
        newPasswordAlertDiv.classList.remove('alert');
        newPasswordAlertDiv.classList.remove('alert-danger');
        newPasswordAlertDiv.classList.remove('mt-3');
        newPasswordAlertDiv.innerHTML = ``;
      }
    };

    confirmNewPasswordInput.onkeyup = () => {
      if (!confirmNewPasswordInput.value.match(newPasswordInput.value) || confirmNewPasswordInput.value.length > newPasswordInput.value.length) {
        confirmNewPassAlertDiv.classList.add('alert');
        confirmNewPassAlertDiv.classList.add('alert-danger');
        confirmNewPassAlertDiv.classList.add('mt-3');
        confirmNewPassAlertDiv.innerHTML = `
          <strong>Konfirmasi password tidak sama dengan password baru</strong>
        `;
      } else {
        confirmNewPassAlertDiv.classList.remove('alert-danger');
        confirmNewPassAlertDiv.classList.add('alert-success');
        confirmNewPassAlertDiv.innerHTML = `
          <strong>Konfirmasi password sama dengan password baru</strong>
        `;
      }
    }

    resetPassForm.addEventListener('submit', async (e) => {
      e.preventDefault();
      console.log('submit clicked');
      newPasswordAlertDiv.innerHTML = ``;
      confirmNewPassAlertDiv.innerHTML = ``;


      const newPassword = newPasswordInput.value;
      const confirmNewPassword = confirmNewPasswordInput.value;

      let errorMsg = [];
      if (newPassword.length < 6) {
        errorMsg.push('Panjang password minimal 6 karakter')
      }

      if (!confirmNewPassword.match(newPassword)) {
        errorMsg.push('Konfirmasi password tidak sama dengan password baru')
      }
      
      if (errorMsg.length !== 0) {
        alert(`Reset password gagal\n\n${errorMsg.map(message => '• ' + message).join('\n')}`);
        errorMsg = [];
        return;
      }

      const response = await fetch('/auth/reset-password', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          token: token,
          newPassword: newPassword,
          }),
      })

      const result = await response.json();

      if (response.ok) {
        alert(result.message || 'Reset password berhasil.');
        window.location.href = '/auth/login';
      } else if (Array.isArray(result.message)) {
        alert(`Reset password gagal\n\n${result.message.map(message => '• ' + message).join('\n')}`);
        window.location.reload();
      } else {
        alert(`Reset password gagal\n\n• ${result.message}`);
        window.location.reload();
      }
    });
  });
</script>